.titulo{
    background-color: steelblue;
    font-style: italic;
    color: white;
    border: yellowgreen solid 2px;
    width: 60%;
}

.botones{
    width: 60%;
}

input{
    width: 40%;
}

table{
    width: 60%;
    border: black solid 3px;
}

button{
    margin: 20px;
}

td{
    
    width: 60%;
    border: black solid 3px;
}

th{
    border: black solid 3px;

}